@use '../../../../../variables';

.clinics-page-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.paginator-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}