<div class="edit-form-container">
    <div class="heading">
        <p class="title">{{ ('contact.title' | translate) }}</p>
    </div>

    <div class="container">
        <div class="contact-container">
            <div class="title section-row">
                If you have any questions just contact us!
            </div>
            
            <div class="section-row">
                <mat-icon>home</mat-icon>
                <p>Rynek Główny 1/3, 31-042 Kraków</p>
            </div>
            <div class="section-row">
                <mat-icon>email</mat-icon>
                <p>contact&#64;health.harmony.pl</p>
            </div>
            <div class="section-row">
                <mat-icon>phone</mat-icon>
                <p>+48 432 549 123</p>
            </div>
            <div class="section-row">
                <mat-icon>fax</mat-icon>
                <p>(012) 44 66 780</p>
            </div>
        </div>
    </div>
    <div class="buttons-container">
    </div>
</div>