<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="opened">
        <div class="menu-container">
            <div class="user-info-container">
                <div class="image-container">

                </div>
                <p class="username">{{(user$ | async)?.firstName + " " + (user$ | async)?.lastName}}</p>
                <div class="online"></div>
            </div>
            <div class="menu-container">
                <div class="menu-item" *ngFor="let item of menuItems" (click)="routeToChildren(item.route)" [ngClass]="(isItemSelected(item.route) | async) ? 'selected' : null">
                    <img class="icon" [src]="item.icon" alt="">
                    <p class="menu-item-name">{{ item.name | translate }}</p>
                </div>
            </div>
            <div class="logout-container">
                <button class="logout-btn" (click)="logout()">{{ "dashboard.menu.logout" | translate }}</button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>