@use '../../../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

mat-sidenav-container {
    height: 100vh;
    width: 100vw;
    background-color: variables.$white-color;

    mat-sidenav {
        background-color: variables.$basic-blue-color;
        width: 350px;

        .menu-container {
            width: 100%;
            height: 100%;
            color: variables.$white-color;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .user-info-container {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
                border-bottom: 2px solid variables.$white-color;

                .image-container {
                    width: 120px;
                    height: 120px;
                    background-color: variables.$gray-color;
                    border-radius: 100%;
                    overflow: hidden;

                    img{
                        height: 100%;
                    }
                }

                .username {
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                    font-size: 18pt;
                    margin-top: 20px;

                }

                .online {
                    position: relative;
                    width: 15px;
                    height: 15px;
                    background-color: variables.$online-color;
                    border-radius: 100%;
                    bottom: 150px;
                    left: 50px;
                }
            }

            .menu-container {
                width: 90%;
                display: flex;
                align-items: flex-start;

                .menu-item {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    border-bottom: 1px solid variables.$white-color;
                    transition: 0.1s;
                    cursor: pointer;

                    .icon {
                        width: 42px;
                        height: 42px;
                        display: flex;
                        margin: 10px 10px 10px 0px;
                    }

                    .menu-item-name {
                        margin: 0;
                        font-family: 'Poppins', sans-serif;
                        text-transform: uppercase;
                        font-size: 14pt;
                    }
                }

                .selected {
                    border-bottom: 4px solid variables.$white-color !important;
                }

            }

            .menu-item:hover {
                border-bottom: 4px solid variables.$white-color !important;
            }

            .logout-container {
                width: 100%;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                .logout-btn {
                    margin-top: 30px;
                    margin-bottom: 30px;
                    width: 100px;
                    background-color: variables.$white-color;
                    height: 40px;
                    border-radius: 100px;
                    border: none;
                    font-family: 'Poppins', sans-serif;
                    text-transform: uppercase;
                    font-size: 10pt;
                    color: variables.$basic-blue-color;
                    cursor: pointer;
                }
            }
        }
    }
}

mat-sidenav-content {
    color: variables.$white-color;
    padding-left: variables.$main-container-padding;
    padding-right: variables.$main-container-padding;
    background-color: variables.$lightgray-background-color;
}

.home-page {
    padding-left: 0;
    padding-right: 0;
}

::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
}