<div class="clinic-card-container">
    <swiper-container class="swiper" loop="true" speed="500" autoplay="true">
        <!-- <swiper-slide class="slide" *ngFor="let slide of slides">
            <div class="slide-container">
                <img [src]="slide.src" alt="">
                <div class="content-container">
                    <div class="slide-content">
                        <p [ngClass]="slide.class">{{slide.content}}</p>
                    </div>
                </div>
            </div>
        </swiper-slide> -->
    </swiper-container>
</div>