<nav class="menu-container">
    <ul>
        <li class="logotype">
            <div class="logo-container">
                <img src="../../../../../assets/logo.png" alt="logo" class="logo">
            </div>
            <p class="logo-name">HealthHarmony</p>
        </li>
        <li class="burger" (click)="toggleMenu()">
            <i class="material-icons">{{ isMenuOpen ? "close" : "menu" }}</i>
        </li>
        <li class="menu" [class.is-open]="isMenuOpen">
            <a href="#" class="menu-item">{{'header.home' | translate}}</a>
            <a href="#" class="menu-item">{{'header.contact' | translate}}</a>
            <a href="#" class="menu-item">{{'header.faq' | translate}}</a>
            <button class="register-button">{{'header.login' | translate}}</button>
            <button class="register-button">{{'header.register' | translate}}</button>
        </li>
    </ul>
</nav>