<div class="main-page-container">
    <div class="main-content">
        <app-header></app-header>
        <swiper-container class="swiper" loop="true" speed="500" autoplay="true">
            <swiper-slide class="slide" *ngFor="let slide of slides">
                <div class="slide-container">
                    <img [src]="slide.src" alt="">
                    <div class="content-container">
                        <div class="slide-content">{{slide.content}}</div>
                    </div>
                </div>
            </swiper-slide>
        </swiper-container>
        <div class="tiles-wrapper">
            <div class="tiles-container">
                <div class="tile">
                    <div class="icon-container">
                        <img src="../../../../../assets/icons/support.png" alt="">
                    </div>
                    <div class="content-container">
                        <p class="title">{{"mainPage.tiles.support.title" | translate}}</p>
                        <p class="content">{{"mainPage.tiles.support.content" | translate}}</p>
                    </div>
                </div>
                <div class="tile">
                    <div class="icon-container">
                        <img src="../../../../../assets/icons/doctor.png" alt="">
                    </div>
                    <div class="content-container">
                        <p class="title">{{"mainPage.tiles.healthcare.title" | translate}}</p>
                        <p class="content">{{"mainPage.tiles.healthcare.content" | translate}}</p>
                    </div>
                </div>
                <div class="tile">
                    <div class="icon-container">
                        <img src="../../../../../assets/icons/document.png" alt="">
                    </div>
                    <div class="content-container">
                        <p class="title">{{"mainPage.tiles.documentation.title" | translate}}</p>
                        <p class="content">{{"mainPage.tiles.documentation.content" | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-map></app-map>
    <app-footer></app-footer>
</div>