<div class="main-container">
    <div class="map-container">
        <div class="locations-container">
            <div *ngFor="let clinic of clinics$ | async" class="location-tile">
                 <p class="heading">{{clinic.name}}</p>
                 <p class="address">{{clinic.address.street + " " + clinic.address.buildingNumber}}</p>
                 <p class="address">{{clinic.address.postalCode + " " + clinic.address.city}}</p>
            </div>
        </div>
        <div class="map-wrapper" id="map">
        </div>
    </div>
</div>