<div class="footer-container">
    <div class="info-container">
        <div class="footer-section">
            <h2 class="section-name">ABOUT US</h2>
            <div class="content">
                <p>Health Harmony is an innovative medical clinic that aims to promote comprehensive healthcare. We
                    strive for a balance between physical and emotional aspects, offering a wide range of therapies and
                    procedures.</p>
            </div>
        </div>
        <div class="footer-section">
            <h2 class="section-name">ABOUT US</h2>
            <div class="content">
                <p>Health Harmony to innowacyjna klinika medyczna, która stawia sobie za cel promowanie kompleksowej
                    opieki
                    zdrowotnej. Dążymy do równowagi między aspektami fizycznymi i emocjonalnymi, oferując szeroki zakres
                    terapii i zabiegów.</p>
            </div>
        </div>
        <div class="footer-section">
            <h2 class="section-name">FAQ</h2>
            <div class="content">
                <p>Here, we've gathered answers to some of the most frequently asked questions about Health Harmony. If
                    you can't find what you're looking for, feel free to reach out to our dedicated team for
                    personalized assistance.</p>
            </div>
        </div>
        <div class="footer-section">
            <h2 class="section-name">CONTACT</h2>
            <div class="content">
                <div class="section-row">
                    <mat-icon>home</mat-icon>
                    <p>Rynek Główny 1/3, 31-042 Kraków</p>
                </div>
                <div class="section-row">
                    <mat-icon>email</mat-icon>
                    <p>contact@health.harmony.pl</p>
                </div>
                <div class="section-row">
                    <mat-icon>phone</mat-icon>
                    <p>+48 432 549 123</p>
                </div>
                <div class="section-row">
                    <mat-icon>fax</mat-icon>
                    <p>(012) 44 66 780</p>
                </div>
            </div>
        </div>
    </div>
</div>