<div class="filters-wrapper">
    <div class="title-container">
        <p class="module-title">{{ 'doctors.title' | translate }}</p>
    </div>
    <form [formGroup]="fg">
        <div class="filters-container">
        <div class="field-container">
            <p class="filter-name">{{ 'doctors.filters.firstName' | translate }}</p>
            <input class="input" formControlName="firstName">
            <mat-icon class="search-icon">search</mat-icon>
        </div>
        <div class="field-container">
            <p class="filter-name">{{ 'doctors.filters.lastName' | translate }}</p>
            <input class="input" formControlName="lastName">
            <mat-icon class="search-icon">search</mat-icon>
        </div>
        <div class="field-container">
            <p class="filter-name">{{ 'doctors.filters.acceptsRemotely' | translate }}</p>
            <select class="select" formControlName="orderBy">
                <option [value]="true">{{ 'common.yes' | translate }}</option>
                <option [value]="true">{{ 'common.no' | translate }}</option>
            </select>
        </div>
        <div class="field-container">
            <p class="filter-name">{{ 'common.sortBy' | translate }}</p>
            <select class="select" formControlName="orderBy">
                <option value="">---</option>
                <option value="name">{{ 'common.name' | translate }}</option>
            </select>
        </div>
        <div class="field-container">
            <button class="btn" (click)="applyFilters()">{{ 'common.apply' | translate }}</button>
            <button class="btn" (click)="clearFilters()">{{ 'common.clear' | translate}}</button>
            <button class="add-btn" (click)="openAddPopup()" *ngIf="isAdmin()">+</button>
        </div>
    </div>
    </form>
    
</div>