$basic-blue-color: #0066ff;
$basic-green-color: #10C75B;
$black-color: black;
$white-color: white;
$font-family: 'Poppins', sans-serif;
$big-font-weight: 900;
$small-font-weight: 600;
$gradient-left-color: #0066ff;
$gradient-right-color: #0011ff;
$transparent-gradient-right-color: rgba(0, 102, 255, 0.5);
$transparent-gradient-left-color: rgba(0, 17, 255, 0.5);
$font-gray-color: #454545;
$gray-color: grey;
$lightgray-background-color: rgb(232, 232, 232);
$online-color: rgb(59, 255, 59);
$main-container-padding: 30px;
$paginator-wrapper-height: 50px;
$filter-container-height: 100px;
$red-color: red;
$today-calendar-background-color: #0066ff20;