@use './variables';
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Scrollbar style
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: variables.$basic-blue-color transparent;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: variables.$basic-blue-color;
    border-radius: 10px;
    border: 3px solid transparent;
}

.mat-mdc-text-field-wrapper {
    background-color: white;
    border-radius: 5px!important;
    border: 2px solid variables.$basic-blue-color;
}

.mat-mdc-select-arrow {
    *{
        color: variables.$basic-blue-color;
    }
}

.mat-mdc-select-panel {
    background-color: variables.$white-color!important;
}