@use '../../../../../variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

.faq-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    color: variables.$font-gray-color;
    background-color: variables.$lightgray-background-color;

    .wrapper {
        width: 100%;
        max-width: 1300px;
        height: 100%;
        font-family: variables.$font-family;
        font-weight: variables.$small-font-weight;
        font-size: 12pt;

        .header {
            font-weight: variables.$big-font-weight;
            margin-top: 40px;
            font-size: 26pt;
            border-bottom: 3px solid variables.$basic-blue-color;
            color: variables.$basic-blue-color;
        }

        .description {
            margin-bottom: 20px;
        }

        .faq-item {
            margin-bottom: 10px;
            margin-top: 30px;

            .question {
                display: flex;
                align-items: center;
                cursor: pointer;

                .circle {
                    border: 1px solid variables.$basic-blue-color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    margin-right: 10px;

                    .arrow-icon {
                        font-size: 24px;
                        color: variables.$basic-blue-color;
                    }
                }
            }

            .answer {
                margin-top: 10px;
                padding-left: 35px;
                color: variables.$basic-blue-color;
            }
        }
    }
}

app-footer {
    width: 100%;
    margin-top: 50px;
}

app-header {
    width: 100%;
}