<div class="filters-wrapper">
    <div class="title-container">
        <p class="module-title">Clinics</p>
    </div>
    <div class="filters-container">
        <div class="field-container">
            <p class="filter-name">Name</p>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="field-container">
            <p class="filter-name">Sort by</p>
            <mat-form-field appearance="outline">
                <mat-select>
                    <mat-option value="option">---</mat-option>
                    <mat-option value="option">Name</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>